@font-face {
    font-family: SVN-Gilroy;
    src: url(../webfonts/SVN-Gilroy-Regular.otf)
}

@font-face {
    font-family: SVN-Gilroy Bold;
    src: url(../webfonts/SVN-Gilroy-Bold.otf)
}

@font-face {
    font-family: SVN-Gilroy XBold;
    src: url(../webfonts/SVN-Gilroy-XBold.otf)
}

@font-face {
    font-family: SVN-Gilroy Italic;
    src: url(../webfonts/SVN-Gilroy-Italic.otf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SVN-Gilroy;
    font-size: 14px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.header__top {
    width: 100%;
    background-color: #f5f5f5;
}

.header__top--wrapper,
.header__body--wrapper {
    padding: 0 20px;
}

.header--content {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    outline: none;
}

.header__top--wrapper .header--content {
    height: 40px;
}

.header__top--list {
    display: flex;
    list-style: none;
}

.header__top--item > a {
    display: block;
    line-height: 21px;
}

.header__top--item + .header__top--item {
    padding-left: 25px;
}

.header__top--list.left i {
    color: #e7ad2c;
}

.header__top--list.left a {
    color: rgb(82, 80, 77);
}

.header__top--list.right a,
.header__icon {
    text-decoration: none;
    color: #999;
}

.header__top--item:hover a{
    color: #e7ad2c;
}

.header__top--item.split {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.header__body {
    position: relative;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.header__body--wrapper {
    padding: 25px 20px;
}

.header--content {
    display: flex;
    align-items: center;
}

.header__content--menu {
    display: flex;
    align-items: center;
}

.header__content--logo img {
    display: inline-block;
    width: 128px;
    height: 22px;
}

.header__menu--list {
    display: flex;
    list-style: none;
}

.header__menu--item {
    font-size: 15px;
    font-family: SVN-Gilroy Bold;
}

.header__menu--item + .header__menu--item {
    padding-left: 40px;
}

.header__content--search {
    padding-left: 40px;
    display: flex;

}

.search_icon {
    padding: 9px 11px;
    line-height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    color: #999;
}

.search_button {
    font-family: SVN-Gilroy Bold;
    background-color: #e5a823;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    border: 1px solid transparent;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
    min-width: 142px;
    padding: 9px 0;
    text-align: center;
    transition: all linear .5s;
    cursor: pointer;
}

.search_button:hover {
    border: 1px solid #e5a823;
    color: #e5a823;
    background-color: #fff;
}

.main__header {
    background-color: #f5f5f5;
    padding: 60px 0;
}

.main__title {
    width: 1110px;
    margin: 0 auto;
}

.main__title p a {
    font-size: 14px;
    text-decoration: none;
    color: #999;
}

.main__title p {
    line-height: 21px;
    color: #999;
}

.main__title p a:hover {
    text-decoration: underline;
}

.main__title h1 {
    margin-top: 20px;
    font-size: 46px;
    line-height: 1.2;
    font-family: SVN-Gilroy XBold;
    color: #292824;
    margin-bottom: 0;
}

.main__body--content {
    width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
}

.main__body--form {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.main__body--form h2,
.main__body--info h2,
.main__member h2 {
    position: relative;
    font-size: 32px;
    font-family: SVN-Gilroy Bold;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.main__body--info h2 {
    margin-bottom: 40px;
}

.main__member h2 {
    margin-bottom: 40px;
}

.main__body--form h2::after,
.main__body--info h2::after,
.main__member h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 5px;
    background-color: #e5a823;
}

.form__contact--input {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 35px;
}

.form__contact--input.text__area {
    flex: 0 0 100%;
    max-width: 100%;
}

.form__contact--input > label {
    line-height: 1.5;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}

.form__contact--input > input {
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    border: 1px solid #e5e5e5;
    line-height: 18px;
    transition: all .15s linear;
    height: 45px;
}

.form__contact--input > input::placeholder {
    font-style: italic;
}

.form__contact--input > input:focus,
.form__contact--input > textarea:focus {
    border: 1px solid #e5a823
}

.form__contact--input > textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    border: 1px solid #e5e5e5;
    font-size: 18px;
    line-height: 19px;
    margin-top: 3px;
    color: #999999;
    transition: all .15s linear;
}

.form__contact--follow > label {
    padding-left: 35px;
    position: relative;
    margin-bottom: 7px;
    color: #999;
    font-style: italic;
}

.form__contact--follow > label::before {
    content: "";
    display: block;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}

.form__contact--follow > label::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 4px;
    padding: 2px 4.5px;
    transform: rotate(-50deg) skewX(-10deg);
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-bottom-left-radius: 2px;
    z-index: 2;
    transition: all .1s linear;
}

.form__contact--follow > #contact-follow:checked + label::after {
    border-left: 2.5px solid #f7941e;
    border-bottom: 2.5px solid #f7941e;
}

.main__body--info {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.form__info--list {
    list-style: none;

}

.form__info--item {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
}

.form__info--item span {
    display: block;
    height: 13.5px;
    max-height: 15px;
    min-width: 30px;
    text-align: left;
}

.form__info--item span img {
    max-height: 100%;
    max-width: 16px;
    display: block;
    width: auto;
}

.form__info--item a {
    color: #52504d;
    transition: all .1s linear;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.form__info--item a:hover {
    color: #e5a823;
}

.form__info--item .icon_location {
    margin-top: 7px;
    align-self: baseline;
}

.form__contact--submit {
    margin-top: 47px;
}

.form__contact--submit > button {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5a823;
    color: #fff;
    box-shadow: 0 0 0 1px #e5a823;
    margin: 1px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    transition: all .15s linear;
}

.main__member--content {
    margin-top: 80px;
}

.footer {
    height: 100vh;
}